USE [master]
GO
/****** Object:  Database [Protivantage]    Script Date: 08/03/2017 10:46:22 PM ******/
CREATE DATABASE [Protivantage] ON  PRIMARY 
( NAME = N'Protivantage', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Protivantage.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Protivantage_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Protivantage_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Protivantage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Protivantage]
GO
/****** Object:  User [Protivantagedb]    Script Date: 08/03/2017 10:46:22 PM ******/
CREATE USER [Protivantagedb] FOR LOGIN [Protivantagedb] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_datareader', @membername = N'Protivantagedb'
GO
sys.sp_addrolemember @rolename = N'db_datawriter', @membername = N'Protivantagedb'
GO
/****** Object:  Table [dbo].[tblDosingAlgorithm]    Script Date: 08/03/2017 10:46:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDosingAlgorithm](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Priority] [int] NOT NULL,
	[ReasonForTherapy] [nvarchar](45) NULL,
	[INRLowerLimit] [nvarchar](20) NULL,
	[INRUpperLimit] [nvarchar](20) NULL,
	[IncDec] [nvarchar](40) NULL,
	[PercentageChange] [numeric](18, 2) NULL,
	[VarianceAllowed] [numeric](18, 2) NULL,
	[Comment] [nvarchar](300) NULL,
	[Inactive] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSettings]    Script Date: 08/03/2017 10:46:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSettings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EnterpriseSetting] [bit] NULL,
	[PTCode] [nvarchar](12) NULL,
	[INRCode] [nvarchar](12) NULL,
	[DefaultOverdueInterval] [smallint] NULL,
	[OverdueIntervalAllowOverride] [bit] NULL,
	[DefaultNotify] [bit] NULL,
	[NotifyAllowOverride] [bit] NULL,
	[DefaultTaskPriority] [nchar](35) NULL,
	[TaskPriorityAllowOverride] [bit] NULL,
	[Email] [nvarchar](100) NULL,
	[UserID] [int] NULL,
	[PTDisplayAs] [nvarchar](20) NULL,
	[INRDisplayAs] [nvarchar](20) NULL,
	[MyInterval1] [smallint] NULL,
	[MyInterval2] [smallint] NULL,
	[DefaultTaskType] [nvarchar](35) NULL,
	[DefaultNoteType] [nvarchar](35) NULL,
	[FlowsheetName] [nvarchar](50) NULL,
	[DefaultOverdueTaskType] [nvarchar](35) NULL,
	[DefaultOverdueTaskPriority] [nchar](35) NULL,
	[OverdueTaskPriorityAllowOverride] [bit] NULL,
	[MyIntervalsAllowOverride] [bit] NULL,
	[AdminUser] [nvarchar](40) NULL,
	[InactivityTimeoutMins] [int] NULL,
	[AdminTaskType] [nvarchar](35) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTherapy]    Script Date: 08/03/2017 10:46:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTherapy](
	[TherapyID] [int] IDENTITY(1,1) NOT NULL,
	[TherapyStartDate] [datetime] NULL,
	[ReasonForTherapy] [nvarchar](45) NULL,
	[AdditionalReasonForTherapy] [nvarchar](45) NULL,
	[ExpectedLengthOfTherapy] [nvarchar](30) NULL,
	[PillSizeAtHome] [nchar](8) NULL,
	[INRRange] [nchar](12) NULL,
	[Notify] [bit] NULL,
	[NotifyInterval] [smallint] NULL,
	[PatientID] [bigint] NULL,
	[CurrentDosageInstructions] [nvarchar](200) NULL,
	[Comments] [nvarchar](300) NULL,
	[ManagedBy] [nvarchar](35) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTherapyDetails]    Script Date: 08/03/2017 10:46:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTherapyDetails](
	[TherapyDetailID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [bigint] NOT NULL,
	[NextINR] [datetime] NULL,
	[Instructions] [nvarchar](200) NULL,
	[EvaluationDate] [datetime] NULL,
	[TaskOwner] [nvarchar](35) NULL,
	[Inactive] [bit] NULL,
	[EnteredBy] [int] NULL,
	[EIEBy] [int] NULL,
	[EnteredDTTM] [datetime] NULL,
	[EIEDTTM] [datetime] NULL
) ON [PRIMARY]

GO
USE [master]
GO
